---
import DeleteMyDataES from "../../components/DeleteMyDataES.astro";
import DocLayout from "../../layouts/DocLayout.astro";
---

<DocLayout title="Política de Privacidad" lang="es">
    <main>
        <DeleteMyDataES />
    </main>
</DocLayout>
