---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Recordatorio de cumpleaños">
	<main>
		<h1>
			<span class="text-gradient">Recordador de cumpleaños</span>
		</h1>
		<p class="instructions">
			<span class="text-gradient">Recordador de cumpleaños</span> es una aplicación
			que te ayuda a recordar cumpleaños. Puedes agregar cumpleaños y recibir
			notificaciones cuando se acerquen.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/app"
				title="Abrir la aplicación web"
				body="Usa la aplicación en la web, sin necesidad de descargarla."
			/>
			<Card
				href="https://play.google.com/store/apps/details?id=net.tomascichero.birthdayremainder"
				title="Ver en Play Store"
				body="Obtén la aplicación en tu teléfono o tableta Android."
			/>
			<Card
				href="./privacy-policy"
				title="Política de privacidad"
				body="Lee nuestra política de privacidad para conocer cómo manejamos tus datos."
			/>
			<Card
				href="./terms-of-use"
				title="Términos de uso"
				body="Lee nuestros términos de uso para saber cómo puedes usar la aplicación."
			/>
		</ul>
		<p class="instructions">
			Este es un proyecto de código abierto. Puedes ver el código fuente
			en <a href="https://github.com/Martoxdlol/birthday_reminder"
				>https://github.com/Martoxdlol/birthday_reminder</a
			>
		</p>
		<p class="instructions">
			Si necesitas ayuda, contáctame en <a
				href="mailto:martoxdlol@gmail.com"
				>martoxdlol@gmail.com</a
			>
		</p>
	</main>
</Layout>

<!-- Copy all translated to spanish -->

<style>
	main {
		margin: auto !important;
		padding: 1.5rem !important;
		max-width: 70ch !important;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
