---
import PrivacyPolicyES from "../../components/PrivacyPolicyES.astro";
import DocLayout from "../../layouts/DocLayout.astro";
---

<DocLayout title="Política de Privacidad" lang="es">
    <main>
        <PrivacyPolicyES />
    </main>
</DocLayout>
