---
import TermsOfUseES from "../../components/TermsOfUseES.astro";
import DocLayout from "../../layouts/DocLayout.astro";
---

<DocLayout title="Términos de Uso" lang="es">
    <main>
        <TermsOfUseES />
    </main>
</Layout>
