---
import PrivacyPolicyEN from "../../components/PrivacyPolicyEN.astro";
import DocLayout from "../../layouts/DocLayout.astro";
---

<DocLayout title="Privacy Policy" lang="en">
    <main>
        <PrivacyPolicyEN />
    </main>
</Layout>
