---
import TermsOfUseEN from "../../components/TermsOfUseEN.astro";
import DocLayout from "../../layouts/DocLayout.astro";
---

<DocLayout title="Terms of Use" lang="en">
    <main>
        <TermsOfUseEN />
    </main>
</Layout>
