---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Birthday Reminder">
	<main>
		<h1>Welcome to <span class="text-gradient">Birthday Reminder</span></h1>
		<p class="instructions">
			<span class="text-gradient">Birthday Reminder</span> is an app that helps
			you remember birthdays. You can add birthdays and get notified when they're
			coming up.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://birthday-remainder-app.web.app/"
				title="Open App"
				body="Use the installed app or on the web, no download required."
			/>
			<Card
				href="https://play.google.com/store/apps/details?id=net.tomascichero.birthdayremainder"
				title="View on Play Store"
				body="Get the app on your Android phone or tablet."
			/>
			<Card
				href="/privacy-policy"
				title="Privacy Policy"
				body="Read our privacy policy to learn how we handle your data."
			/>
			<Card
				href="/terms-of-use"
				title="Terms of Use"
				body="Read our terms of use to learn how you can use the app."
			/>
		</ul>
		<p class="instructions">
			This is a open source project. You can view the source code on <a
				href="https://github.com/Martoxdlol/birthday_reminder"
				>https://github.com/Martoxdlol/birthday_reminder</a
			>
		</p>
		<p class="instructions">
			If you need help contact me at <a href="mailto:martoxdlol@gmail.com"
				>martoxdlol@gmail.com</a
			>
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 70ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.instructions {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
