<h1>Eliminar todos mis datos</h1>
<p>Por favor envía un email a: <a href="mailto:martoxdlol@gmail.com">martoxdlol@gmail.com</a> solicitando eliminar tu cuenta y todos tus datos.</p>
<p>Responderé lo más rápido posible.</p>
