<h1>Delete all my data</h1>
<p>Please send a email to: <a href="mailto:martoxdlol@gmail.com">martoxdlol@gmail.com</a> requesting to delete your account and all your data.</p>
<p>I will respond as fast as possible.</p>